{% extends 'app/base.html' %}

{% block menu_content %}
<div class='about'>
	<h1>Titulo</h1>
	<p>
	<img src="../../static/app/img/user/default" align="right"></img>
		orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>

	<h1>Equipe</h1>
	<ul>
		<li>Denis Aoki - aluno</li>
		<li>Raul Gabrich - aluno</li>
		<li>Carla Delgado - Orientadora</li>
	</ul>
</div>
{% endblock %}
