{% extends 'app/base.html' %}
{% load static %}

{% block menu_content %}
<div class='about'>
	<h1 style="font-size:150%;">P.A.L.O.M.A. - Plataforma de Auxílio Lógico e Otimização do Monitoramento do Autodidata</h3>
	<p>
	<img src="../../static/app/img/user/default" align="right"></img>
	Vivemos em uma década em que qualquer indivíduo com acesso à internet é capaz de aprender o que quiser, da maneira e do lugar que quiser.
	</br>
	São inúmeros os aplicativos e plataformas de ensino de línguas, matemática, história e o que mais despertar nosso interesse e necessidade. Dessa maneira, segue o questionamento se já não alcançamos com a internet todas as camadas de ensino, ou se ainda há algum novo curso que precisa ser desenvolvido para suprir alguma necessidade. Por que com tantas opções, muitos usuários questionam se estão realmente aprendendo, se aquele curso é apropriado ou por que estão desanimando tão rápido? 
	</br>
	Este projeto é um estudo sobre esses questionamentos apresentados, e uma proposta de uma plataforma que seja capaz de entender seu usuário e orientá-lo da maneira mais simples e objetiva possivel para um determinado curso online que mais se adequa ao seu perfil. 
	</br>
	Com tantas opções disponíveis, nossa proposta atual se limita à recomendação de cursos online de inglês, com uma arquitetura que permite facilmente a integração de outros tipos de cursos.
	</p>

	<h1>Equipe</h1>
	<ul>
		<li>Denis Aoki - aluno</li>
		<li>Raul Gabrich - aluno</li>
		<li>Carla Delgado - Orientadora</li>
	</ul>
</div>
{% endblock %}
