{% extends 'app/index.html' %}

{% block reveal %}
<div id="reveal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle">
	<h2 id="modalTitle">{{ title }}</h2>
	<form action="" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<input class="button round index" style="width:100%;" type='submit' value='Enviar'>
	</form>
	<a class="close-reveal-modal" id="revealclose" aria-label="Close">&#215;</a>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript'> 
	$('#reveal').foundation('reveal', 'open');
</script>
{% endblock %}

