{% extends 'app/index.html' %}

{% block reveal %}
{% if not photo %}
<div id="reveal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle">
	<h2 id="modalTitle">{{ title }}</h2>
	<form action="" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		{% if extra %}
		{{ extra }}
		{% endif %}
		{% if button_name %}
		<input class="button round index" style="width:100%;" type='submit' value='{{ button_name }}'>
		{% else %}
			<input class="button round index" style="width:100%;" type='submit' value='Enviar'>
		{% endif %}
		<a class="close-reveal-modal" id="revealclose" aria-label="Close">&#215;</a>
	</form>
</div>
{% endif %}

{% if photo %}
<div id="reveal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle">
	<h2 id="modalTitle">Modificar foto</h2>
	<p class="lead">selecione a imagem </p>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="image"  class="file-input">
		<input type="submit" value="Enviar Imagem" name="submit" class="button expand index">
	</form>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script type='text/javascript'> 
	$('#reveal').foundation('reveal', 'open');
</script>
{% endblock %}

