{% extends 'app/index.html' %}

{% block reveal %}
<div id="reveal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle">
	<h2 id="modalTitle">{{ title }}</h2>
	<form action="" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		{% if extra %}
		{{ extra }}
		{% endif %}
		{% if button_name %}
		<input class="button round index" style="width:100%;" type='submit' value='{{ button_name }}'>
		{% else %}
			<input class="button round index" style="width:100%;" type='submit' value='Enviar'>
		{% endif %}
		<a class="close-reveal-modal" id="revealclose" aria-label="Close">&#215;</a>
	</form>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript'> 
	$('#reveal').foundation('reveal', 'open');
</script>
{% endblock %}

